version: '3'
services:
  postgres:
    image: postgres:15-alpine
    container_name: pr-review-manager-postgres-1
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .  
    container_name: pr-review-manager-app-1
    depends_on:
      - postgres  
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://myuser:secret@postgres:5432/mydb?sslmode=disable
volumes:
  pgdata: